@mixin boton($colorFondo, $colorLetra, $colorFondoHover){
  display: block;
  color: $colorLetra;
  padding: 1rem 2vw;
  border-radius: 10px;
  border: 0.15rem solid $colorFondo;
  transition: color 600ms ease-in-out;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 102%;
    height: 105%;
    background-color: $color-negro;
    z-index: -1;
    transition: width $animacion;
    border-radius: 10px;
  }
  span{
    font-size: calc(var(--parrafo-p) + 5px);
    margin-right: var(--margen-minimo);
  }
  &:hover {
      background-color: $colorFondoHover;      
      color: $colorFondo;
  }
  &:hover::before {
    width: 0;
  }
  @media screen and(max-width:768px){
    padding: 1.5rem 0;
    width: 99%;
    max-width: 100% !important;
    span{
      font-size: calc(var(--parrafo-p) + 8px);
    }
    &::before {
      width: 101%;
    }
  }
}
.btn-primary {
  @include boton($color-negro, $color-blanco, $color-blanco);
}