.navbar {
  position: fixed;
  padding-top: var(--margen-pequeno);
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  transition: $animacion-media;
  a {
    transition: $animacion-media;
    &:hover {
      color: $color-rojo;
    }
  }
  &__contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    &--sociales {
      ul {
        display: flex;
        a {
          margin-left: var(--margen-minimo);
          font-size: var(--parrafo-p);
        }
      }
    }
    &--logo {
      text-align: center;
    }
    &--menu {
      text-align: right;
      font-size: var(--parrafo-p);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      &--sociales {
        display: none;
      }
      &--logo {
        text-align: left;
      }
    }
  }
  &__completo {
    position: absolute;
    min-height: 100vh;
    background-color: rgba($color: $color-negro, $alpha: 0.99);
    top: 0;
    right: -100vw;
    width: 0;
    color: $color-blanco;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $animacion-normal;
    .close {
      position: absolute;
      top: 5vw;
      right: 5vw;
      font-size: var(--titulo-h3);
      cursor: pointer;
      transition: $animacion-normal;
      &:hover {
        color: $color-rojo;
      }
    }
    ul {
      transition: $animacion-normal;
    }
    li {
      a {
        color: $color-blanco;
        font-size: calc(var(--titulo-h1) + 0.2vw);
        font-weight: 500;
        &:hover {
          color: $color-blanco;
        }
      }
      .itemNav {
        position: relative;
        &:before {
          content: "";
          width: 20px;
          border-radius: 50%;
          height: 20px;
          background-color: $color-rojo;
          position: absolute;
          bottom: -10px;
          left: 0;
          opacity: 0;
          transition: opacity $animacion;
        }
        &:hover:before {
          opacity: 1;
        }
      }
      .nuxt-link-exact-active div:before {
        opacity: 1;
      }
      margin-bottom: var(--margen-pequeno);
    }
  }
}
.active {
  background-color: $color-blanco;
  padding-top: var(--margen-minimo);
  padding-bottom: var(--margen-minimo);
}
.navbar__active {
  width: 100%;
  right: 0;
}
.LogoCarlos {
  font-size: var(--titulo-h3);
  padding-bottom: 0;
  font-weight: 700;
  &:hover span {
    color: $color-negro;
  }
  span {
    transition: $animacion-media;
  }
}