.projects {
  background-image: url("../../assets/img/bg-3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  &__contenedor {
    max-width: 100% !important;
    h2 {
      text-align: center;
    }
  }
  &__carrusel {
    margin-top: var(--margen-pequeno);
    cursor: w-resize;
  }
  &__slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--margen-mediano);
    align-items: center;
    .icon {
      color: $color-rojo;
      margin-right: var(--margen-minimo);
    }
    li {
      font-size: var(--parrafo-p);
      margin-bottom: var(--margen-minimo);
    }
    @media (max-width: 758px) {
      grid-template-columns: 1fr;
      grid-row-gap: var(--margen-mediano);
    }
  }
}
.VueCarousel-dot {
  width: 2vw !important;
  height: 2vw !important;
  outline: none !important;
  @media (max-width: 768px) {
    width: 5vw !important;
    height: 5vw !important;
    padding: 2vw !important;
  }
}