.services {
  background-color: $color-negro;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: $color-humo;
  overflow: hidden;
  &__contenedor {
    &--lista {
      margin-top: var(--margen-pequeno);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: var(--margen-grande);
      text-align: left;
      h4 {
        margin-top: var(--margen-minimo);
        margin-bottom: var(--margen-minimo);
      }
      span {
        font-weight: 300;
      }
    }
    &--item {
      &:hover .services__contenedor--icon {
        color: $color-rojo;
      }
    }
    @media (max-width: 768px) {
      padding-top: var(--margen-grande);
      padding-bottom: var(--margen-grande);
      &--lista {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (max-width: 480px) {
      &--lista {
        grid-template-columns: 1fr;
      }
    }
    &--icon {
      transition: $animacion-normal;
      padding: 0;
    }
  }
}