$color-rojo : #ef0838;
$color-negro: #232323;
$color-gris: #969393;

$margen-grande: 9vw;
$margen-mediano: 6vw;
$margen-pequeno: 3vw;
$margen-minimo: 1vw;

$titulo-h1: calc(1rem + 4.5vw);
$titulo-h2: calc(1rem + 1.8vw);
$titulo-h3: calc(1rem + 1vw);
$parrafo-p: calc(1rem + 0.3vw);

$animacion-rapida: all 100ms ease;
$animacion-media: all 300ms ease;
$animacion-normal: all 500ms ease;