// Fuente - Monserrat 
@font-face {
  font-family: "Montserrat";
  src: url("~@/static/fonts/Montserrat-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-display: swap
}
@font-face {
  font-family: "Montserrat";
  src: url("~@/static/fonts/Montserrat-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: "Montserrat";
  src: url("~@/static/fonts/Montserrat-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: medium;
  font-display: swap
}
@font-face {
  font-family: "Montserrat";
  src: url("~@/static/fonts/Montserrat-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: bold;
  font-display: swap
}
// Variables
@import './variables';
// Mixins
@import './mixins';
// Animaciones
@import './animations';

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: $color-negro;
}
.rojo {
  border-bottom: 4px solid $color-rojo;
}
.color-rojo {
  color: $color-rojo;
}
h1 {
  font-size: var(--titulo-h1);
  font-weight: 300;
  span{
    font-weight: 700;
    border-bottom: 4px solid $color-rojo;
  }
}
h2{
  font-size: var(--titulo-h2);
  font-weight: 700;
  padding-bottom: var(--margen-pequeno);
}
h3 {
  font-size: var(--titulo-h3);
  font-weight: 500;
  padding-bottom: var(--margen-pequeno);
}
p{ 
  font-size: var(--parrafo-p);
  font-weight: 300;
}
small {
  font-size: var(--parrafo-p);
  font-weight: 500;
  color: $color-gris;
}
a {
  text-decoration: none;
  color: $color-negro;
  cursor: pointer;
}
li {
  list-style: none;
  font-weight: 300;
}
img {
  max-width: 100%;
}
.contenedor {
  width: 85%;
  margin: 0 auto;  
  @media screen and (max-width:768px){
    width: 80%;
  } 
}
.espacio {
  padding-top: var(--margen-mediano);
  padding-bottom: var(--margen-mediano);
}
.sombra {
  -webkit-box-shadow: -10px 10px 14px -5px rgba(0,0,0,0.12);
  -moz-box-shadow: -10px 10px 14px -5px rgba(0,0,0,0.12);
  box-shadow: -10px 10px 14px -5px rgba(0,0,0,0.12);
}